.project-image {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-image img {
    width: 100%;

}

.project-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: transparent;
    opacity: 0;

    transition: ease-in-out 1s;
}

.project-image .overlay:hover {
    /* width: 20%;
    position: absolute;
    color: black;
    background-color: white; */
    opacity: 0.85;
}