.resume-image {
    background-image: url(../../assets/images/coding.jpg);
    background-position: center center;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
    opacity: 92%;
    height: 100vh;
    width: auto;
    height: auto;
    max-width: 100%;
    min-height: 100%;

}

.resume-link {
    font-size: 3.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(37, 75, 202)
}

.resume-header {
    font-size: 2.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(55, 27, 108)
}

.resume-skills {
    font-size: 1.9rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(55, 27, 108);
    height: 100%;
}