.image {
    background-image: url(../../assets/images/beam.jpg);
    background-position: center center;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    opacity: 92%;
}

.avatar {
    border-radius: 28%;
    padding-left: 10%;
}