.contact-image {
    opacity: 5%;
}


.contact-block {
    position: absolute;
    top: 15rem;
    left: 40%;
    bottom: 15rem;
}

.form-input {
    font: bolder;
    color: blue;
    display: flex;
    justify-content: space-around;
    flex-direction: column;


}

.form-space {
    justify-content: center;
    border-radius: 10px;
}