.container {
    position: relative;
    text-align: center;
}

.contact-image {
    opacity: 70%;
}


.contact-block {
    position: absolute;
    top: 11rem;
    left: 45rem;
    bottom: 15rem;
}

.form-input {
    font: bold;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.form-space {
    justify-content: center;
    border-radius: 10px;
}