.contact-form {
    background-color: #5B79B1;
    text-align: center;
    height: 100%;


}

.form-input {
    font: bold;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.form-space {
    justify-content: center;
    border-radius: 15px;
}