.App {
  text-align: center;
  box-sizing: border-box;
}

.App-link {
  color: #232a86;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-app {
  height: 100%;
  width: 100%;
}

.cover-image {
  background-image: url(../src/assets/images/space.gif);
  background-size: cover;
  height: 100%;
  background-repeat: repeat;
}

@media screen {
  .cover-image {
    background-image: url(../src/assets/images/space.gif);
    background-size: cover;
    height: 86vh;
    background-repeat: no-repeat;
  }
}
